
.alert .alert-text {
    visibility: hidden;
    -fx-background-color: #fcc;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
    -fx-text-fill: red;
}

.scroll {
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
}

.grid {
    -fx-fill-width: true;
}

.chat {
    -fx-background-color: #ccc;
    -fx-padding: 20px;
}

.title-wrapper {
    -fx-padding: 10px;
    -fx-alignment: center;
}

.chat-title {
    -fx-font-size: 12pt;
    -fx-text-alignment: center;
}

.chat-item {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
    -fx-alignment: bottom-right;
}

.chat-item .user {
    -fx-font-size: 8pt;
}

.chat-item .text {
    -fx-wrap-text: true;
}

.chat-list-profile {
    -fx-padding: 20px;
    -fx-background-color: #bbb;
    -fx-border-color: transparent #999 transparent transparent;
    -fx-border-width: 2px;
}

.chat-list-control {
    -fx-padding: 20px;
}

.chat-list-control Button {
    -fx-fit-to-width: true;
    -fx-max-width: Infinity;
}

.chat-list-profile Label {
    -fx-font-size: 10pt;
}

.chat-list-profile Text {
    -fx-font-size: 14pt;
}